@page
@using WaterDrinkingLoggerMVC.Models
@model WaterDrinkingLoggerMVC.Pages.IndexModel
@{
    ViewData["Title"] = "Water Logging Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Amount</th>
        <th>Time</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (WaterDrinking waterDrinking in Model.waterLoggings)
    {
        <tr>
            <td>@waterDrinking.Id</td>
            <td>@waterDrinking.Amount.ToString()</td>
            <td>@waterDrinking.Time.ToString()</td>
            <td>@waterDrinking.User</td>
        </tr>
    }
    </tbody>
</table>